<div class="flex p-4 items-center" *ngIf="home===1" >
    <img class="w-12 rounded-full h-fit mr-4" src="{{player.img}}" alt="player">
    <div class="grid grid-cols-3 grid-rows-2 justify-between gap-3 mr-0">
        <p class="text-white" >Nombre</p>
        <p class="text-white" >Posicion</p>
        <p class="text-white" >Rating</p>
        <p class="text-slate-300" >{{player.name}}</p>
        <p class="text-slate-300" >{{player.pos}}</p>
        <p class="text-slate-300" >{{player.rating}}</p>
    </div>
    
</div>

<div class="flex p-4 justify-end items-center" *ngIf="home===0" >
    
    <div class="grid grid-cols-3 grid-rows-2 justify-between gap-3 mr-0">
        <p class="text-white" >Rating</p>
        <p class="text-white" >Posicion</p>
        <p class="text-white" >Nombre</p>
        <p class="text-slate-300" >{{player.rating}}</p>
        <p class="text-slate-300" >{{player.pos}}</p>
        <p class="text-slate-300" >{{player.name}}</p>
    </div>
    <img class="w-12 rounded-full h-fit ml-4" src="{{player.img}}" alt="player">
</div>