<!-- Detalles de la liga -->
<div *ngIf="liga" class="bg-slate-800 rounded-2xl m-4 p-4 shadow-2xl flex-col justify-center items-center">
  <h1 class="text-center" style="font-size: 32px; font-weight: bold; color: #ffffff;">Detalles de la liga</h1>

  <!-- Información de la liga y logo -->
  <div class="row">
    <div class="col-md-6">
      <p style="font-size: 18px; font-weight: bold; color: #ffffff;">Nombre: {{ liga.league.name }} <img [src]="liga.league.logo" class="logo-img" alt="Logo de la liga"></p>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-start">
      <div class="d-flex flex-column align-items-end">
        <p style="font-size: 18px; font-weight: bold; color: #ffffff;">País: {{ liga.country.name }}</p>
        <img [src]="liga.country.flag" width="200" height="100" class="mt-2">
      </div>
    </div>
    <div class="col-md-6 mt-2">
      <button class="btn btn-danger follow-button" style="width: fit-content;"><i class="fa fa-heart" style="font-size: 20px;"></i></button>
    </div>
  </div>

  <!-- Equipos -->
  <h1 class="mt-4">Equipos</h1>
  <div class="search-bar">
    <input type="text" [(ngModel)]="search" placeholder="Buscar equipo..." class="form-control" style="width: 200px">
    <button (click)="searchTeams()" class="btn btn-primary">Buscar</button>
  </div>
  
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let equipo of equipos" class="card m-2" style="width: 18rem; cursor: pointer;" (click)="mostrarInformacionEquipo(equipo)">
      <img [src]="equipo.team.logo" class="card-img-top" alt="Logo del equipo" style="width: 55%; height: 150px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{ equipo.team.name }}</h5>
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-danger follow-button" style="width: fit-content;"><i class="fa fa-heart"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

