<div class="container mt-4 ligas-container">
  <div>
    <h2 class="text-center ligas-title">Ligas</h2>
  </div>

  <div class="search-bar">
    <input type="text" [(ngModel)]="search" placeholder="Buscar liga..." class="form-control">
    <button (click)="searchLeagues()" class="btn btn-primary">Buscar</button>
  </div>

  <ul class="list-group liga-list">
    <li *ngFor="let liga of ligas" class="list-group-item liga-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img [src]="liga.league.logo" class="logo-img" alt="Logo de la liga">
        <span>{{ liga.league.name }}</span>
      </div>
      <div>
        <button class="btn btn-success follow-button" style="margin-right: 5px;">Seguir</button>
        <button (click)="mostrarInformacionLiga(liga)" class="btn btn-info details-button">Ver Detalles</button>
      </div>
    </li>
  </ul>


