<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<img [src]="league.league.logo" class="card-img-top" alt="Logo de la liga" style="max-height: 100px; object-fit: contain;" (click)="mostrarInformacionLiga(league)">
<div class="card-body">
    <h5 class="card-title text-center text-white">{{ league.league.name }}</h5>
     <div class="d-flex justify-content-between align-items-center">
        <i class=" text-4xl absolute bottom-0 end-0 p-3" [@heartAnimation]="follow.toString()" (click)="toggleFollowLeague()" [ngClass]="{'text-red-500': follow, 'text-white': !follow}">&hearts;</i>
    </div>
</div>