<header class="navbar navbar-dark bg-primary">
  <nav class="container-fluid">
    <button (click)="logout()" class="btn btn-light">Logout</button>
    <ul class="nav">
      <li class="nav-item"><a routerLink="/ligas" class="nav-link text-light">Ligas</a></li>
      <li class="nav-item"><a routerLink="/view-match/1035151" class="nav-link text-light">View match (preview)</a></li>
    </ul>
  </nav>
</header>

<main class="container mt-4">
  <div *ngIf="live && live.length > 0">
    <div *ngFor="let match of live" class="card mb-4">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <img [src]="match.league.logo" alt="{{ match.league.name }} Logo" class="me-2" style="max-height: 30px;">
          <h2 class="mb-0">{{ match.league.name }}</h2>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <img [src]="match.teams.home.logo" alt="{{ match.teams.home.name }} Logo" class="me-2" style="max-height: 20px;">
          <span>{{ match.teams.home.name }}</span>
          <span class="mx-2">{{ match.goals.home }} - {{ match.goals.away }}</span>
          <span>{{ match.teams.away.name }}</span>
          <img [src]="match.teams.away.logo" alt="{{ match.teams.away.name }} Logo" class="ms-2" style="max-height: 20px;">
        </div>
        <p class="text-muted">{{ formatMatchTime(match.fixture.timestamp) }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="live && live.length === 0" class="text-muted">
    No hay partidos en vivo.
  </div>
</main>
