<header class=" bg-slate-900">
  <nav>
    <ul class="flex p-6 shadow-2xl">
      <li class="ml-2 mr-2"><a routerLink="/ligas" class="text-white">Ligas</a></li>
      <li class="ml-2 mr-2"><a routerLink="/equipos" class="text-white">Equipos</a></li>
      <li class="ml-2 mr-2"><a routerLink="/jugadores" class="text-white">Jugadores</a></li>
      <li class="ml-2 mr-2"><a routerLink="/view-match/1052366" class="text-white">View match (preview)</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
