<div *ngIf="player" class="container mt-4">
  <h2 class="text-center display-4">{{ player[0].player.firstname }} {{ player[0].player.lastname }}</h2>

  <!-- Información básica del jugador -->
  <div class="card-deck">
    <div class="card">
      <img [src]="player[0].player.photo" class="card-img-top" alt="Foto del jugador">
      <div class="card-body">
        <p class="card-text">Edad: {{ player[0].player.age }}</p>
        <p class="card-text">Altura: {{ player[0].player.height }}</p>
        <p class="card-text">Peso: {{ player[0].player.weight }}</p>
      </div>
    </div>

    <!-- Detalles de nacimiento -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Fecha de nacimiento</h3>
        <ul class="list-group">
          <li class="list-group-item"><strong>Fecha:</strong> {{ player[0].player.birth.date }}</li>
          <li class="list-group-item"><strong>Lugar:</strong> {{ player[0].player.birth.place }}</li>
          <li class="list-group-item"><strong>País:</strong> {{ player[0].player.birth.country }}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Estadísticas de temporada -->
  <div class="card mt-3">
    <div class="card-body">
      <h3 class="card-title">Estadísticas de Temporada</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Apariciones:</strong> {{ player[0].statistics[0].games.appearences }}</li>
        <li class="list-group-item"><strong>Tiros:</strong> {{ player[0].statistics[0].shots.total }}</li>
      </ul>
    </div>
  </div>
</div>

  

