<div *ngIf="player" class="bg-slate-800 rounded-2xl m-4 p-4 shadow-2xl flex-col justify-center items-center">
  <h1 class="text-center" style="font-size: 32px; font-weight: bold; color: #ffffff;">Detalles de Jugador</h1>
  <div *ngIf="player" class="container mt-4">
    <h2 class="text-center" style="font-size: 32px; font-weight: bold; color: #ffffff;">{{ player[0].player.firstname }} {{ player[0].player.lastname }}</h2>
  
    <!-- Información básica del jugador -->
    <div class="card">
      <div class="card-body">
        <img [src]="player[0].player.photo" class="card-img-top" alt="Foto del jugador" style="max-width: 200px; max-height: 200px;">
        <div class="card-body">
          <p class="card-text">Edad: {{ player[0].player.age }}</p>
          <p class="card-text">Altura: {{ player[0].player.height }}</p>
          <p class="card-text">Peso: {{ player[0].player.weight }}</p>
        </div>
        <div class="col-md-6 mt-2">
          <button class="btn btn-danger follow-button" style="width: fit-content;"><i class="fa fa-heart" style="font-size: 20px;"></i></button>
        </div>
      </div>  
    </div> 
    
      <!-- Detalles de nacimiento -->
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Fecha de nacimiento</h3>
          <ul class="list-group">
            <li class="list-group-item"><strong>Fecha:</strong> {{ player[0].player.birth.date }}</li>
            <li class="list-group-item"><strong>Lugar:</strong> {{ player[0].player.birth.place }}</li>
            <li class="list-group-item"><strong>País:</strong> {{ player[0].player.birth.country }}</li>
          </ul>
        </div>
      </div>
    
  
    <!-- Estadísticas de temporada -->
    <div class="card mt-3">
      <div class="card-body">
        <h3 class="card-title">Estadísticas de Temporada</h3>
        <ul class="list-group">
          <li class="list-group-item"><strong>Apariciones:</strong> {{ player[0].statistics[0].games.appearences }}</li>
        <li class="list-group-item"><strong>Tiros:</strong> {{ player[0].statistics[0].shots.total }}</li>
        <li class="list-group-item"><strong>Goles:</strong> {{ player[0].statistics[0].goals.total}}</li>
        <li class="list-group-item"><strong>Asistencia:</strong> {{ player[0].statistics[0].goals.assists}}</li>
        <li class="list-group-item"><strong>Pases :</strong> {{ player[0].statistics[0].passes.total}}  <strong>Exactitud :</strong>   {{ player[0].statistics[0].passes.accuracy}}  </li>
        <li class="list-group-item"><strong>Faltas :</strong> {{ player[0].statistics[0].fouls.committed}}    </li>
        <li class="list-group-item"><strong>Tarjetas Amarillas :</strong> {{ player[0].statistics[0].cards.yellow}} <strong>Tarjetas rojas :</strong>   {{ player[0].statistics[0].cards.yellowred +  player[0].statistics[0].cards.red}} </li>
        <li class="list-group-item"><strong>Penales :</strong> {{ player[0].statistics[0].penalty.scored + player[0].statistics[0].penalty.missed}}  <strong>Acertados :</strong>   {{ player[0].statistics[0].penalty.scored}} <strong>Errados :</strong>   {{ player[0].statistics[0].penalty.missed}}  </li>

        </ul>
      </div>
    </div>
  </div>
</div>


  

