<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="grid grid-cols-2">
    <ul>
        <li *ngFor="let player of localPlayers" class="flex bg-slate-700 shadow-xl cursor-pointer rounded-lg p-3 m-3" (click)="openPlayer(player.player.id)">
            
                <img class="mr-3 rounded-full w-14 h-fit" src="{{player.player.photo}}" alt="player photo">
                <p class="text-white">{{player.player.name}}</p>
        
            
        </li>
    </ul>
    <ul>
        <li *ngFor="let player of awayPlayers" class="flex bg-slate-700 shadow-xl rounded-lg p-3 m-3 justify-end">
            <p>{{player.player.name}}</p>
            <img class="rounded-full w-12 h-fit" src="{{player.player.photo}}" alt="player photo">
            
        </li>
    </ul>
</div>