<app-match-score [matchId]="1035037"></app-match-score>
<div class="bg-slate-800 rounded-2xl m-4 p-4  shadow-2xl flex justify-center">
    <ul class="nav nav-underline">
        <li class="nav-item nav-item w-20 ">
          <a class="nav-link text-white text-center" aria-current="page" href="#">Events</a>
        </li>
        <li class="nav-item nav-item w-20">
          <a class="nav-link text-white text-center" href="#">Lineup</a>
        </li>
        <li class="nav-item w-20">
          <a class="nav-link text-white text-center" href="#">Stats</a>
        </li>
        <li class="nav-item nav-item w-20">
          <a class="nav-link text-white text-center" aria-disabled="true">Players</a>
        </li>
    </ul>
</div>