<div *ngIf="equipo">
    <h2>Detalles de equipo</h2>
    <p>Nombre: {{ equipo.team.name }}  <img [src]="equipo.team.logo"  width="200" height="100"></p>
    <p>País: {{ equipo.team.country }}</p>
    <p>Año de creacion: {{ equipo.team.founded }}</p>
    <h2>Estadio</h2>
    <p>Nombre: {{ equipo.venue.name }}  <img [src]="equipo.venue.image"  width="200" height="100"></p>
    <p>Ciudad:{{ equipo.venue.city}}</p>
    <p>Capacidad:{{ equipo.venue.capacity}}</p>
    <h2>Jugadores</h2>
<input type="text" [(ngModel)]="search">
<button (click)="searchPlayer()">search</button>
<ul>
  <div *ngFor="let item of jugadores">
    <ul>
      <li *ngFor="let jugador of item.players">
        {{ jugador.name }}
        <button >Seguir</button>
  <button (click)="mostrarInformacionJugador(jugador)">Ver Detalles</button>
      </li>
    </ul>
  </div>
    
</ul>
    <button >Seguir</button>
    </div>
    